n8n_workflow/chatbot_service_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatHistory.reduce((acc,ele)=>{\n     acc.push(ele.keys()+\" : \"+ele.values());\n    return acc\n  }, [])\n}}",
        "options": {
          "systemMessage": "You are a digital handbook assistant for a company try to resolve users query and guide them.\n- Don't use the convention of stating the output with \"AI:\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "563a0a29-77b9-4bbd-b3ad-d7167653e8ac",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.8,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "18206f5b-6376-4cc1-b0a2-5235c5c311c9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7zLN1hcPOyQRXCFd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "44842643-2f94-4879-8850-c4ae8e56149a",
      "name": "Webhook",
      "webhookId": "59ce5020-8444-4dda-bcba-8f4683414886"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        544,
        0
      ],
      "id": "e13c0389-65a7-4b26-a2f5-40a238760fca",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Tool to get info from company handbook.",
        "topK": 5,
        "options": {
          "distanceStrategy": "cosine"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        368,
        256
      ],
      "id": "23388643-fc3f-4abb-be0d-8afa03bfcc72",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "A36okFLR1cgJQ7ng",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        464,
        464
      ],
      "id": "c3e4f931-da9a-42a1-ac74-375d2e945856",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "7zLN1hcPOyQRXCFd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "86cecc8b-6b80-44b7-b296-cbddb4edb275",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0485224c851aa15e8691e90472b8265d16468eddd9dcc035ac5664af47036c07"
  },
  "id": "Bb4H9JsSUc0x6Lmf",
  "tags": []
}