n8n_workflow/parsing_workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1hHWXwGKmoDxqaWPN_WMZIn4QumPfcFvE",
            "mode": "list",
            "cachedResultName": "handbook-pdf",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1hHWXwGKmoDxqaWPN_WMZIn4QumPfcFvE"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        0
      ],
      "id": "99db75cc-0d4c-4187-a5bd-9b14d2969681",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JE5oFWqYEh83ZEe2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        96,
        0
      ],
      "id": "cf270f49-a6f6-4046-8daa-28f5f408811e",
      "name": "Download file",
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JE5oFWqYEh83ZEe2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/upload",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\"accept\": \"application/json\",\n \"Content-Type\": \"multipart/form-data\",\n \"Authorization\": \"Bearer llx-MI9JCA5FhIStEmt4qpybHJo6OFFMRUjMJZviCDG7d10aqiDG\"\n}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        0
      ],
      "id": "835bb714-9c03-4d21-ab6a-879050d4a6d0",
      "name": "HTTP Request",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        0
      ],
      "id": "e8740cf1-ac35-44cb-9a26-77680ad4b709",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        0
      ],
      "id": "c328f4c8-2ca4-411a-8d61-542617e5ea4b",
      "name": "Wait",
      "webhookId": "cfe7a2ef-537e-4d17-aabe-5726b416eb4c"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n    \"accept\": \"application/json\",\n    \"Authorization\": \"Bearer llx-MI9JCA5FhIStEmt4qpybHJo6OFFMRUjMJZviCDG7d10aqiDG\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        0
      ],
      "id": "9bf6fffb-9a13-49f8-a9d3-f40f3a363fad",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"accept\": \"application/json\",\n  \"Authorization\": \"Bearer llx-MI9JCA5FhIStEmt4qpybHJo6OFFMRUjMJZviCDG7d10aqiDG\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        0
      ],
      "id": "00cc57b6-3b09-4d1b-aee9-e7434ab081c8",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "afa168b7-b775-4362-ad29-a6d1db72bcf6",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        0
      ],
      "id": "1b17af28-9de0-4a45-be3d-2a6873932639",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.markdown }}",
        "name": "Handbook-parse",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1408,
        -192
      ],
      "id": "ef67352e-96d2-4294-bf1b-eb0b7cd13bde",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JE5oFWqYEh83ZEe2",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a16f818-b3b0-41f0-b0aa-35d83f1e8c63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0485224c851aa15e8691e90472b8265d16468eddd9dcc035ac5664af47036c07"
  },
  "id": "lTfrvQ8vJ9Ye8l3p",
  "tags": []
}