n8n_workflow/postgres_vectordb_creation_workflow.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        0
      ],
      "id": "599d873a-2df3-4a82-aff7-eefdc0f656fa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        272,
        0
      ],
      "id": "e74f01d3-2be0-43ea-8d31-d23eb362cc29",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JE5oFWqYEh83ZEe2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        608,
        0
      ],
      "id": "decfcac9-afad-4c1f-9ce4-c775c6987e4c",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "A36okFLR1cgJQ7ng",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        176
      ],
      "id": "226de8f6-fb1a-4bcc-b919-cc6c871d8f35",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "7zLN1hcPOyQRXCFd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        752,
        208
      ],
      "id": "714cca4b-f178-4fa8-8e06-02a7a4ff50b0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        848,
        416
      ],
      "id": "3d85b545-0986-4208-b86a-957ee94d8438",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1crNZwFJJK863dzT2C_nJi5aciDg-Tr4Q",
            "mode": "list",
            "cachedResultName": "parsed_handbook",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1crNZwFJJK863dzT2C_nJi5aciDg-Tr4Q"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "2206e2f3-cc69-4c81-9677-63fecd8e103c",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JE5oFWqYEh83ZEe2",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "50c03ea2-805b-40c0-9801-8e9cf5d2d63a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0485224c851aa15e8691e90472b8265d16468eddd9dcc035ac5664af47036c07"
  },
  "id": "sa0K0Avm9TGyHbbb",
  "tags": []
}